header {
    background-color: rgb(0, 0, 0);
}

#sidebar {
    visibility: visible;
}

#content {
    margin-left: inherit;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}







