{{- partial "header.html" . }}

{{- $scope := .Site }}
{{- if .Title }}
<header class="page-header"><h1>{{ .Title }}</h1></header>{{ $scope = . }}
  <hr>
  <h3>Some useful links</h3>
  <hr>
  <p>
  <ul style="margin-left: 1.5em;">
    <li><a style="text-decoration: underline" href="https://jdjuli.github.io/virto/memoria.pdf">Thesis in spanish (.pdf)</a></li>
    <li><a style="text-decoration: underline" href="https://jdjuli.github.io/virto/presentacion.pdf">Slides (.pdf)</a></li>
    <li><a style="text-decoration: underline" href="https://www.youtube.com/channel/UCS-eM4L0dlqbrv3XB45IxKA">Videos</a></li>
    <li>Suggested demos to be tried:
      <ul style="margin-left: 2em;">
        <li><a style="text-decoration: underline;" href="https://jdjuli.github.io/virto/scenes/demos/demo18/">Demo 18</a>: First idea of VR IDE, programs are built vertically and elements are created through a menu.</li>
        <li><a style="text-decoration: underline;" href="https://jdjuli.github.io/virto/scenes/demos/demo19/">Demo 19</a>: Second idea, programs are built horizontally and the instructions are parametrizable. Values are constants.</li>
        <li><a style="text-decoration: underline;" href="https://jdjuli.github.io/virto/scenes/demos/demo20/">Demo 20</a>: Similar to the Demo 19, but environment changed and now variables are available.</li>
        <li><a style="text-decoration: underline;" href="https://jdjuli.github.io/virto/scenes/demos/demo22/">Demo 22</a>: Adds conditional and repetitive instructions to the Demo 20.</li>
      </ul>
    </li>
  </ul>
</p>
<hr>
{{ end }}

{{- $paginator := .Paginate (where $scope.RegularPages ".Params.type" "!=" "page") }}

{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}
{{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0)) }}
{{- $class = "first-entry" }}
{{- else if .Data.Term }}
{{- $class = "post-entry tag-entry" }}
{{- end }}
<article class="{{ $class }}">
  <header class="entry-header">
    <h2>{{ .Title }}</h2>
  </header>
  <section class="entry-content">
   <p>{{ .Summary | plainify | htmlUnescape }}...</p>
  </section>
  <footer class="entry-footer">
    <time>{{ .Date.Format "January 2, 2006" }}</time>
  </footer>
  <a class="entry-link" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- partial "footer.html" . }}
